.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-size: 17px;
}

.form {
  border-radius: 25px;
  border: 2px solid black;
  padding: 40px;
  margin: 50px auto;
  height: 300px;
  width: 500px;
  background-color: white;
}
h1 {
  text-align: center;
}
#formRow {
  display: flex;
  padding-bottom: 20px;
}
#formLabel {
  margin-right: 5%;
  font-weight: bold;
}
#formInput {
  margin-left: 10%;
}
#formLabelCheck {
  padding-top: 80px;
  margin-right: 23%;
  font-weight: bold;
}
#roundButton {
  padding: 10px;
  border-radius: 20px;
}
/* table,
td,
tr {
  border: 1px solid black;
  margin: 0 auto;
  padding: 5px;
  width: 50%;
  vertical-align: middle; 
}*/
/* td {
  height: 30px;
  width: 700px;
  background-color: coral;
  padding: 0;
  margin: 0;
} */

#h2 {
  text-align: center;
}

#buah {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  margin: 0 auto;
}

#buah table {
  padding: 5px;
  width: 50%;
  vertical-align: middle;
}

#buah td,
#buah th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 30px;
  width: 150px;
  text-align: center;
}

#buah tr:nth-child(even) {
  background-color: #f2f2f2;
}

#buah tr:hover {
  background-color: #ddd;
}

#buah th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #070707;
  color: white;
}
